html {
    font-family: sans-serif;
    color: #444;
    font-size: 14px;
    line-height: 1.8em;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.column, .column-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.column {
    width: 100%;
}

.column-6 {
    width: 50%;
}
